
.icon-sun:before { content: '\e800'; } /* '' */
.icon-cloud:before { content: '\e801'; } /* '' */
.icon-rain:before { content: '\e802'; } /* '' */
.icon-cloud-flash:before { content: '\e803'; } /* '' */
.icon-snow:before { content: '\e804'; } /* '' */
